@using RedResQ_WebApp.Components.QuizComps.Fetch
@page "/quiz"

<h3>Quiz-Menu</h3>

<br/>

<div id="searchbox">
    <div id="form-cont">
        <div id="element-cont" class="form-group">
            <div class="element-set">
                <label for="input-id">ID</label>
                <input type="number" @bind-value="Id" id="input-id" class="form-control input-element" />
            </div>

            <div class="element-set">
                <label for="input-amount">Amount</label>
                <input type="number" @bind-value="Amount" id="input-amount" class="form-control input-element" />
            </div>


            <div class="element-set">
                <label for="input-query">Query</label>
                <input type="text" @bind-value="Query" id="input-query" class="form-control input-element" />
            </div>


            <div class="element-set">
                <label for="input-quiztype">Quiz-Type</label>
                <div class="input-element">
                    <InputSelect class="form-control" TValue="long?" @bind-Value="QuizTypeId" id="input-quiztype">
                        <option value="@(0)">Choose a Quiz-Type ...</option>

                        @if (QuizTypes != null)
                        {
                            foreach (QuizType qt in QuizTypes)
                            {
                                <option value="@qt.Id">@qt.Name</option>
                            }
                        }
                    </InputSelect>
                </div>
            </div>
        </div>
    </div>

    <div id="searchctrl-cont">
        <div id="searchctrl">
            <h4>@(firstSearch ? "Welcome! Feel free to start your search!" : "Refine, Search, Repeat 🫡")</h4>

            <p>
                Use the options to your right to refine your search or just use the button below. No need to worry though, all fields are optional 😉
            </p>

            <br />

            <button @onclick="Search" class="btn btn-primary w-75">@(firstSearch ? "Start the search!" : "Search again, again, again, ...")</button>
        </div>
    </div>
</div>

<div>
    @if (Quizzes.Count > 0)
    {
        <br/>
        <hr/>
        <br />
    
        <h3>Search result</h3>
    
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Max Score</th>
                    <th>Type-Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Quiz quiz in Quizzes)
                {
                    <tr>
                        <td>@quiz.Id</td>
                        <td>@quiz.Name</td>
                        <td>@quiz.MaxScore</td>
                        <td>@quiz.Type?.Name</td>
    
                        <td>
                            <div class="d-flex">
                                <ShowButton Quiz="quiz" />

                                <DeleteButton Quiz="quiz" /> 
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="@(hideAddButton ? "d-none" : "text-center")">
            <button type="button" class="btn btn-primary w-25" title="Load more quizzes" @onclick="LoadMoreQuizzes">
                Load more quizzes
            </button>
        </div>
    }
</div>