@page "/news/get"
@inject IJSRuntime JsRuntime

<table class="table table-striped table-responsive mt-3">
    <thead>
        <tr>
            <th>Article ID</th>
            <th/>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="w-50 h-100">
                <InputNumber class=" form-control w-100 h-100 text-end align-middle" TValue="long?" @bind-Value="_id" />
            </td>
            <td class="w-50 text-center">
                <button class="btn btn-primary w-50 " @onclick="() => GetArticle()">
                    <span><i class="oi oi-dial"></i> Get</span>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<br />

@if (_article != null)
{
    <div class="container w-75">
        <table class="table table table-responsive table-bordered mt-3">
            <tbody>
                <tr>
                    <td class="w-25 text-end">
                        <span class="fw-bold">ID</span>
                    </td>
                    <td class="w-75 text-center">
                        <span>@(_article?.Id != null ? _article?.Id : "Empty")</span>
                    </td>
                </tr>
                <tr>
                    <td class="w-25 text-end">
                        <span class="fw-bold">Title</span>
                    </td>
                    <td class="w-75 text-center">
                        <span>@(_article?.Title != null ? _article?.Title : "Empty")</span>
                    </td>
                </tr>
                <tr>
                    <td class="w-25 text-end">
                        <span class="fw-bold">Content</span>
                    </td>
                    <td class="w-75 text-center">
                        <span>@(_article?.Content != null ? _article?.Content : "Empty")</span>
                    </td>
                </tr>
                <tr>
                    <td class="w-25 text-end">
                        <span class="fw-bold">Author</span>
                    </td>
                    <td class="w-75 text-center">
                        <span>@(_article?.Author != null ? _article?.Author : "Empty")</span>
                    </td>
                </tr>
                <tr>
                    <td class="w-25 text-end">
                        <span class="fw-bold">Date</span>
                    </td>
                    <td class="w-75 text-center">
                        <span>@(_article?.Date != null ? _article?.Date.ToString("d") : "Empty")</span>
                    </td>
                </tr>
                <tr>
                    <td class="w-25 text-end">
                        <span class="fw-bold">Language ID</span>
                    </td>
                    <td class="w-75 text-center">
                        <span>@(_article?.Language.Id != null ? _article?.Language.Id : "Empty")</span>
                    </td>
                </tr>
                <tr>
                    <td class="w-25 text-end">
                        <span class="fw-bold">Language name</span>
                    </td>
                    <td class="w-75 text-center">
                        <span>@(_article?.Language.Name != null ? _article?.Language.Name : "Empty")</span>
                    </td>
                </tr>
                <tr>
                    <td class="w-25 text-end">
                        <span class="fw-bold">Image ID</span>
                    </td>
                    <td class="w-75 text-center">
                        <span>@(_article?.Image?.Id != null ? _article?.Image?.Id : "Empty")</span>
                    </td>
                </tr>
                <tr>
                    <td class="w-25 text-end">
                        <span class="fw-bold">Image description</span>
                    </td>
                    <td class="w-75 text-center">
                        <span>@(_article?.Image?.Description != null ? _article?.Image?.Description : "Empty")</span>
                    </td>
                </tr>
                <tr>
                    <td class="w-25 text-end">
                        <span class="fw-bold">Image bytes</span>
                    </td>
                    <td class="w-75 text-center">
                        <span>@(_article?.Image?.Bytes != null ? _article?.Image?.Bytes : "Empty")</span>
                    </td>
                </tr>
                <tr>
                    <td class="w-25 text-end">
                        <span class="fw-bold">Country ID</span>
                    </td>
                    <td class="w-75 text-center">
                        <span>@(_article?.Country.Id != null ? _article?.Country.Id : "Empty")</span>
                    </td>
                </tr>
                <tr>
                    <td class="w-25 text-end">
                        <span class="fw-bold">Country name</span>
                    </td>
                    <td class="w-75 text-center">
                        <span>@(_article?.Country.CountryName != null ? _article?.Country.CountryName : "Empty")</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}

@code {
    long? _id = 1;
    Article? _article = null!;

    private async Task GetArticle()
    {
        if (_id.HasValue)
        {
            var article = await NewsService.Get(_id!.Value);

            if(article != null)
            {
                _article = article;

                return;
            }
            else
            {
                _article = null;

                await JsRuntime.InvokeVoidAsync("alert", $"Error!\nNo article with ID {_id.ToString()} was found!");

                return;
            }
        }

        _article = null;

        await JsRuntime.InvokeVoidAsync("alert", "Error!\nID has no value!");
    }
}
