@page "/news"
@attribute [Authorize]

<style>
    :root {
        --color-primary: #495057; 
        --color-bg-button: #ffffff; 
    }

    .btn-custom {
        border-radius: 15px; 
        padding: 5px 10px; 
        font-size: 0.8rem; 
        background-color: var(--color-bg-button);
        color: var(--color-primary); 
        border: 2px solid var(--color-primary); 
        box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
        transition: all 0.2s ease;
    }

        .btn-custom:hover {
            background-color: var(--color-primary); 
            color: #ffffff; 
        }

    .icon-custom {
        margin-right: 3px; 
    }
</style>

<div class="h-100 d-flex flex-column justify-content-between">

    <NavLink class="@(_navLinkClasses + "btn-custom")" href="/news/get">
        <span><span class="oi oi-dial icon-custom" aria-hidden="true"></span> Get</span>
    </NavLink>

    <br />

    <NavLink class="@(_navLinkClasses + "btn-custom")" href="/news/fetch">
        <span><span class="oi oi-list icon-custom" aria-hidden="true"></span> Fetch</span>
    </NavLink>

    <br />

    <NavLink class="@(_navLinkClasses + "btn-custom")" href="/news/publish">
        <span><span class="oi oi-cloud-upload icon-custom" aria-hidden="true"></span> Publish</span>
    </NavLink>

    <br />

    <NavLink class="@(_navLinkClasses + "btn-custom")" href="/news/edit">
        <span><span class="oi oi-pencil icon-custom" aria-hidden="true"></span> Edit</span>
    </NavLink>

    <br />

    <NavLink class="@(_navLinkClasses + "btn-custom")" href="/news/delete">
        <span><span class="oi oi-trash icon-custom" aria-hidden="true"></span> Delete</span>
    </NavLink>
</div>

@code {
    string _navLinkClasses = "nav-link text-center fs-1 fs-md-1 fs-lg-1 " +
    "d-flex flex-column flex-grow-1 justify-content-center align-items-center ";
}
